<h1 mat-dialog-tittle>Agregar estudiante</h1>
<div mat-dialog-content>
  <form class="flex flex-column" [formGroup]="studentForm">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input [formControl]="firstNameControl" matInput placeholder="Nombre">
      <mat-icon matSuffix> sentiment_very_satisfield</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input [formControl]="lastNameControl" matInput placeholder="Apellido">
      <mat-icon matSuffix> sentiment_very_satisfield</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Diereccion</mat-label>
      <input [formControl]="directionControl" matInput placeholder="Direccion">
      <mat-icon matSuffix> sentiment_very_satisfield</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>N° de Casa</mat-label>
      <input [formControl]="directionIdControl" matInput placeholder="Numero">
      <mat-icon matSuffix> sentiment_very_satisfield</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre del Curso</mat-label>
      <input [formControl]="nameCourseControl" matInput placeholder="Nombre del curso">
      <mat-icon matSuffix> sentiment_very_satisfield</mat-icon>
    </mat-form-field>
    <!--  <div>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->


  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()"> Cancelar</button>
  <button mat-button [mat-dialog-close]="studentForm.value" cdkFocusInitial>Agregar</button>

</div>